/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Righteous);
body.page1 {
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: "Pacifico" ,"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 4.8em;
	text-align: center;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}
h1.title {
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 1px;
	padding: 0%;
	margin-top: 1px;
	position: relative;
}
h2 {
	font-family: "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 4em;
	background-color:;
	margin-left: 10%;
	margin-right: 50%;
	margin: 0;
	padding: 2%;
	text-decoration: none;
}


.catContainer {
	list-style-type: none;
	padding: 0;
	background-color: rgba(136,175,195,1.00);
	border-radius: 50%;
	height: 10%;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	
}

.categories {
	display: inline-block;
	text-align: center;
	width: 18%;
	padding-top: 1%;
	margin-top: 1%;
	padding-left: 1%;
}
.text {
	font-size: 1.5em;
	letter-spacing: .15em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.floatIt {
	float: left;
}
#firstCat {
	padding-left: 9%;
}
#firstCat, #lastCat {
	width: 14%;
	height: 100%;
	padding-bottom: 2.2%;
	position: relative;
}
#beforeMid, #afterMid {
	width: 16%;
	height: 100%;
	padding-bottom: 1.6%;
	z-index: 1000;
	position: relative;
}
#midCat {
	width: 18%;
	height: 110%;
}
.label {
	font-family: "Pacifico" ,"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	position: absolute;
	text-align: center;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 1%;
}

.dissappear{
	display: none;
}

#twitterIcon {
	width: 20%;
	height: 20%;
	position: relative;
}
.backgroundCont {
	background-color: rgba(255,255,255,.39);
	list-style-type: none;
	padding: 0;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	margin-top: 11%;
	margin-bottom: 0;
	align-content: center;
	border-top: thick;
	border-top-style:groove;
	border-top-color: rgba(252,252,252,0.22);
	border-top-width: 20px;
	
}
#catChange {
	border-radius: 50%;
	background-color: #FEFEF2;
	margin-top: -15px;
	border-color: none;
	border: none;
}
a {
	text-decoration: none;
}
.homeLink {
	color: black;
}
#twitter {
	width: 10%;
	height: 10%;
	float: right;
	display: inline-block;
	margin-top: 2%;
}
.socialMedia {
	display: inline-block;
}
.slider { 
	background-image: url("images/displayPic1.JPG");
	background-color: #FEFEF2;
	list-style-type: none;
	padding: 0;
	height: 92%;
	width: 92%;	
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 1%;
	position: absolute;
	align-content: center;
	background-size: cover;

}

#sliderCont {
	padding: 0;
	height: 45%;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 3%;
	position: absolute;
	align-content: center;
}
.recentPosts {
	list-style-type: none;
	padding: 0;
	height: 95%;
	width: 24%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	position: absolute;
	background-color: #FEFEF2;
	border-radius: 5%;
	border: thick;
	border-style: ridge;
	border-color: rgba(252,252,252,0.22);
}
.header {
	list-style-type: none;
	padding: 0;
	height: 10%;
	width: 98%;
	margin-left: 3px;
	margin-right: 1px;
	margin-top: 0;
	position: absolute;
	align-content: left;
	background-color: rgba(218,218,218,0.05);
	font-family: "Pacifico" ,"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 210%;
	text-align: center;
	z-index:1001;
}

.Coalition {
    list-style-type: none;
    padding: 0;
    height: 95%;
    width: 24%;
    margin-left: 72.3%;
    margin-right: 3%;
    margin-top: 14%;
    position: absolute;
    align-content: right;
    background-color: #FEFEF2;
	border-radius: 5%;
	border: thick;
	border-style: ridge;
	border-color: rgba(252,252,252,0.22);
	overflow-x: none;
}
.slideDescription {
	background-color: rgba(255,255,255,.75);
	padding: 0;
	height: 28%;
	width: 100%;	
	margin-left: 0%;
	margin-top: 42.5%;
	margin-bottom: 0%;
	position: absolute;
	align-content: center;
	background-size: cover;
	
}
.authorSlideContainer{
	height: 65px;
	width: 65px;
	padding: 0;
	margin-left: 1.8%;
	margin-top: 2.7%;
	margin-bottom: 1%;
	position: absolute;
	align-content: center;
	background-size: cover;
	border-radius: 35%;
	float: left;
	
}
.authorSlideCircle {
	border-radius: 50%;
	position: absolute;
	width: 90%;
	height: 90%;
	border-style: solid;
	border-color: rgba(255,255,255,.85);
	border-width: medium;
	background-size: contain;
	float: left;
}
.slideArticleName {
	padding: 0;
	height: 60%;
	width: 75%;
	margin-left:20%;
	margin-right: 5%;
	margin-top: 2%;
	padding-top: 2%;
	position: absolute;
	align-content: left;
	background-color: rgba(189,220,240,0.75);
	font-family: "Righteous" , "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: .9em;
	text-align: center;
	border-radius: 10%;
}
.authorName {
	padding: 0;
	height: 23%;
	width: 20%;
	margin-left:15%;
	margin-right: 60%;
	font-weight: bold;
	margin-top: 8%;
	margin-bottom: 0;
	padding-top: 2%;
	position: absolute;
	align-content: center;
	background-color: rgba(189,200,240,0.75);
	font-family: "Righteous" , "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: .9em;
	text-align: center;
	border-radius: 10%;
}
.Popular {
	padding: 0;
	height: 45%;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 1%;
	margin-top: 30%;
	position: absolute;
	align-content: center;
}
.popCont {
	padding: 0;
	height: 100%;
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 2%;
	position: absolute;
	background-color: rgba(255,255,255,.75);
	border-radius: 5%;
	align-content: center;
	overflow-y: scroll;
}

.circles {
	height: 200px;
    width: 200px;
	border-radius: 50%;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 50%;
	border-style: solid;
	border-width: 15px;
	background-size: contain;
	position: relative;
	float: none;
	align-content: center;
}

ul {
	list-style-type: none;
	text-align: center;
	align-content: center;
	font-family: "Righteous" , "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.coalitionSchools {
	text-decoration: none;
}

li {
	margin-bottom: 0;
	margin-top: 15%;
	color: black;
	text-decoration: none;
	font-family: "Righteous" , "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#topLetter {
	margin-top: 30%;
}
#topArticle {
	margin-top: 25%;
}

.popost {
	background-color: rgba(154,206,225,1.00);
	padding: 2%;
	border-radius: 20%;
	position: relative;
	font-family: "Righteous" , "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
div {
	color: black;
	text-decoration: none;
	font-family: "Righteous" , "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align: center;
}