/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body.page1 {
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: "Pacifico" ,"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 4.8em;
	text-align: center;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}
h1.title {
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 1px;
	padding: 0%;
	margin-top: 1px;
	position: relative;
}
h2 {
	font-family: "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 4em;
	background-color:;
	margin-left: 10%;
	margin-right: 50%;
	margin: 0;
	padding: 2%;
	text-decoration: none;
}


.catContainer {
	list-style-type: none;
	padding: 0;
	background-color: rgba(136,175,195,1.00);
	border-radius: 50%;
	height: 10%;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	
}

.categories {
	display: inline-block;
	text-align: center;
	width: 18%;
	padding-top: 1%;
	margin-top: 1%;
	padding-left: 1%;
}
.text {
	font-size: 1.5em;
	letter-spacing: .15em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.floatIt {
	float: left;
}
#firstCat {
	padding-left: 9%;
}
#firstCat, #lastCat {
	width: 14%;
	height: 100%;
	padding-bottom: 2.2%;
	position: relative;
}
#beforeMid, #afterMid {
	width: 16%;
	height: 100%;
	padding-bottom: 1.6%;
	z-index: 1000;
	position: relative;
}
#midCat {
	width: 18%;
	height: 110%;
}
.label {
	font-family: "Pacifico" ,"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	position: absolute;
	text-align: center;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 1%;
}

.dissappear{
	display: none;
}

#twitterIcon {
	width: 20%;
	height: 20%;
	position: relative;
}
.backgroundCont {
	background-color: rgba(255,255,255,0.39);
	list-style-type: none;
	padding: 0;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	position: absolute;
	margin-top: 11%;
	margin-bottom: 0;
	align-content: center;
	border-top: thick;
	border-top-style:groove;
	border-top-color: rgba(252,252,252,0.22);
	border-top-width: 20px;
	
}
#catChange {
	border-radius: 50%;
	background-color: #FEFEF2;
	margin-top: -15px;
	border-color: none;
	border: none;
}
a {
	text-decoration: none;
}
.homeLink {
	color: black;
}
#twitter {
	width: 10%;
	height: 10%;
	float: right;
	display: inline-block;
	margin-top: 2%;
}
.socialMedia {
	display: inline-block;
}
.slider { 
	background-image: url("images/displayPic1.JPG");
	background-color: #FEFEF2;
	list-style-type: none;
	padding: 0;
	height: 92%;
	width: 92%;	
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 1%;
	position: absolute;
	align-content: center;
	background-size: cover;

}

#sliderCont {
	list-style-type: none;
	padding: 0;
	height: 40%;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 3%;
	position: absolute;
	align-content: center;
}
.recentPosts {
	list-style-type: none;
	padding: 0;
	height: 95%;
	width: 24%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	position: absolute;
	align-content: left;
	background-color: #FEFEF2;
}
.header {
	list-style-type: none;
	padding: 0;
	height: 10%;
	width: 98%;
	margin-left: 3px;
	margin-right: 1px;
	margin-top: 0;
	position: absolute;
	align-content: left;
	background-color: rgba(218,218,218,0.05);
	font-family: "Pacifico" ,"Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 210%;
	text-align: center;
}
.Coalition {
	list-style-type: none;
	padding: 0;
	height: 95%;
	width: 24%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	position: absolute;
	align-content: right;;
}